.section-p1 {
  padding: 48px 80px;
}
button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}
#first {
  background-image: url("bg.jpg");
  height: 90vh;
  width: 100%;
  background-position: top 25% right 0;
  background-size: cover;
  padding: 0 80px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
#first h4 {
  padding-bottom: 15px;
}
#first h1 {
  color: aqua;
}
#first h2 {
  color: green;
}
#first button {
  border: 0;
  padding-top: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}
#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 20px 45px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}
#feature .fe-box {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}
#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}
#feature .fe-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
}
#feature .fe-box h6:nth-child(1) {
  background-color: #dfd1f2;
}
#feature .fe-box h6:nth-child(3) {
  background-color: #cdd4f8;
}
#product {
  text-align: center;
}
#product  .main-container{
    display: flex;
    justify-content:space-between ;
    padding-top: 20px;
    flex-wrap: wrap;

}
#product .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}
#product .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#product .pro img {
  width: 100%;
  border-radius: 20px;
}
#product .pro .des {
  text-align: start;
  padding: 10px 0;
}
#product .pro .des span {
  color: #606063;
  font-size: 12px;
}
#product .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}
#product .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}
#product .pro .cart {
  
    background-color: #333333;
	color: #FFFFFF;
    
  
}
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("banner.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}
#banner h4{
    color: #fff;
    font-size: 16px;
}
#banner h2{
    color: #fff;
    font-size: 30px;
    padding:10px 0;
}
#banner h2 span{
    color: #1a1a1a;
}
#banner button:hover{
    background-color: #088170;
    color: #fff;
}
/* start media query */
@media(max-width:477px){
    .section-p1{
        padding: 20px;
    }
    #first{
        padding: 0 20px;
        background-position: 55%;

    }
    #feature .fe-box{
        width: 155px;
        margin: 0 0 15px 0;
    }
    #feature{
        justify-content: space-between;
    }
    h2{
        font-size: 32px;
    }
    h1{
        font-size: 38px;
    }
    #product .pro{
        width: 100%;

    }
    #banner{
        height: 40vh;
    }

}



